.main-content {
    background-color: white;
}

label {
    margin: inherit;
    font-weight: inherit;
}

a.add {
    float: right;
}

input.btn {
/*    padding-left: 50px;
    padding-right: 50px;*/
}

.text-center {
    text-align: center;
}

.page-header {
    margin-top: 0px;
}
.breadcrumb {
    height: 50px;
    padding: 15px;
    cursor: pointer;
    float: left;
    color: #212121;
    -moz-transition: all 0.2s ease-out 0s;
    -webkit-transition: all 0.2s ease-out 0s;
    transition: all 0.2s ease-out 0s;
    background-color: white;
    margin-bottom: 0px;;
}

.breadcrumb>li+li:before{
    padding:0 5px;
    color:#ccc;
    content:"/ "
}

.table>tbody>tr>td, .table>tbody>tr>th, .table>tfoot>tr>td, .table>tfoot>tr>th, .table>thead>tr>td, .table>thead>tr>th {
    vertical-align: inherit;
}

.table {
    background-color: #F9F9F9;
    margin-bottom: 0px;
}

.table-invoice th {
    padding: 10px 10px !important;
}
.pagination {
    margin: 10px 0;
}

.pagination > li > select {
    position: relative;
    float: left;
    padding: 6.5px 12px;
    margin-left: -1px;
    line-height: 1.42857143;
    color: #428bca;
    text-decoration: none;
    background-color: #fff;
    border: 1px solid #ddd;
}

.clear-border>.disabled>span {
    border: none !important;
}

.pagination > .disabled > span,
.pagination > .disabled > span:hover,
.pagination > .disabled > span:focus {
    cursor: default;
}

.activityStyle{
    width: 160px;
}

.container-fluid{
    padding: 0;
}

.text-color {
    color: #00FF00;
}

@media (min-width:768px){
.form-inline .form-group {
    display: inline-block;
    vertical-align: middle;
}
}
@media (min-width:768px){
.form-inline > .form-group {
    margin-bottom: 5px;
}
}
.file-preview-frame {
    display: inherit !important;
    height: inherit !important;
}

.file-drop-zone {
    border: none !important;
    padding: 0 !important;
}



.qst-tab {
    background: #fff !important;
    border-bottom: none;
}

.qst-tab li a {
    color: #222 !important;
    display: block;
    text-decoration: none;
    outline: 0;
    /*padding: 0 18px;*/
}

.qst-tab li a:hover,
.qst-tab li.active a {
    border-radius: 0 !important;
    background: 0 !important;
    color: #222 !important;
    border-bottom: 3px solid #44b549 !important;
}

.qst-tab .tab-content {
    padding-top: 15px;
}

.cond-date{
    width: 130px !important;
}