<ion-view>
    <ion-content class="evaluate_content" style="margin-bottom: 5rem;background-color: rgb(238,238,238)">
        <div class="evaluate_list_wrapper" ng-repeat="item in evaluateObj.goodsData track by $index" style="margin-bottom: 1rem;background-color: white;padding-bottom: 1rem">
            <div class="goods_msg_wrapper">
                <img ng-src="{{evaluateObj.iconRootURL + item.goods_introduction[0]}}" alt="goods_icon">
                <div class="msg_title_wrapper">
                    <p class="assess_goodsTitile">{{item.goods_name}}</p>
                    <ul class="assess-stars" style="margin-top: 1.5rem">
                        <li style="height: 4rem;width: 2.2rem;" class="star assess-redStar evaluate_star"  ng-repeat="gray in graynums track by $index" ng-click="evaluateObj.selectedStar($event,$index,item)"></li>
                    </ul>
                    <!--<div class="assess-stars">-->
                        <!--<div class="star assess-grayStar evaluate_star" ng-click="evaluateObj.selectedStar($event,$index)" ng-repeat="gray in graynums track by $index"></div>-->
                     <!--</div>-->
                </div>
            </div>
            <div class="order_input_wrapper">
            <textarea
                    ng-model="evaluateObj.inputMsg[$index]"
                    maxlength="100"
                    draggable="false"
                    placeholder="请您写下您的购买体会和对我们商品的评价"
                    ng-change=""></textarea>
                <span class="input_msg_nums"><span>{{evaluateObj.inputMsg[$index].length || "0"}}</span> / 100</span>
            </div>
        </div>

    </ion-content>
    <p class="assess_submit" ng-click="evaluateObj.assessSubmit()">提&nbsp;&nbsp;&nbsp;&nbsp;交</p>
</ion-view>