<!--首页-->
<ion-view>

    <ion-header-bar class="item-input-inset">
        <!--logo-->
        <img ng-src="images/logo.png" alt="home-logo" style="height: 25px">
        <!--search bar directive by jc-->
        <form class="search_form">
            <div class="ctf-search-view">

                <label class="item item-input">
                    <input id="cft-textField" class="cft-textField home_onfocus" type="search" ng-model="searchValue" type="text" placeholder="例：大闸蟹">
                </label>
                <button class="ctf-search-btn" style="height: 1.6rem" ng-click="homeObj.goSearch(searchValue)"></button>

            </div>
        </form>

        <div class="tabs-icon-top padding-left top-right-menu" style="margin-top: -.3rem;position: absolute;right: 1rem" ng-click="homeObj.toggleRight()" >
            <a class="tab-item" style="background-position: center;height: 3rem;">
                <i class="home-right-menu"></i>
            </a>
        </div>

    </ion-header-bar>

    <ion-content class="home_content" overflow-scroll="false" on-scroll="homeObj.onScroll()" on-swipe="homeObj.onSwipe()" on-drag-up="homeObj.dragup()">
        <mg-slide-box source-data="homeObj.slideData"></mg-slide-box>
        <ion-refresher
                pulling-text="下拉刷新..."
                on-refresh="homeObj.doRefresh()">
        </ion-refresher>
        <div class="goods_list_wrapper">
            <!--推荐-->
            <div class="home_recommend" style=""></div>
            <p ng-if="homeObj.msgsIsNull == 1" style="text-align: center;color: gray;width: 100%;margin-top: 2rem">{{homeObj.emptyLogMsg}}</p>
            <div class="row row-wrap">

                <div class="col col-50 goods_cell" ng-repeat="item in homeObj.goodsDatas track by $index" ng-click="homeObj.goDetail(item)">

                    <div class="cell_wrapper">
                        <div class="goods_cell_icon" style="background: url(http://www.sunnyshu.cn{{item.goods_introduction[0]}}) no-repeat center;background-size: 100% 100%">
                        </div>
                        <div class="goods_cell_bottom">
                            <div class="bottom_des">
                                <p class="des_title" ng-bind="item.goods_name"></p>
                                <p class="home_goods_price">
                                    <span class="stamp">￥</span>{{item.shop_price}}
                                    <span class="des_prePrice">
                                    <span class="stamp">￥</span>{{item.market_price}}
                                    </span>
                                </p>
                            </div>
                            <!--购买-->
                            <button ng-if="item.goods_number > 0" class="shopping_btn_has" ng-click="homeObj.takeShorpping($event,item)"></button>
                            <button ng-click="homeObj.sellOut($event)" class="shopping_btn_none" ng-if="item.goods_number == 0"></button>

                        </div>
                    </div>
                </div>
            </div>
        </div>
        <ion-infinite-scroll ng-if="!homeObj.moredata" on-infinite="homeObj.loadMore()" distance="1%" ></ion-infinite-scroll>
        <p class="nomore_text" ng-if="homeObj.noneOfMoreData">没有更多商品...</p>
    </ion-content>

</ion-view>